$containerWidth: 70%;

.container {
    width: $containerWidth;
    margin: auto;
}

@media screen and (min-width: 769px) {
    .container {
        width: $containerWidth * 0.75;
        margin: auto;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        width: $containerWidth * 0.5;
        margin: auto;
    }
}