.todo-item {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        border-bottom: 1px solid $secondary;
    }

    label {
        float: left;
    }

    input[type='checkbox'] {     
        position: relative;
        display: none;
    }

    input[type='checkbox'] + span {
        font-family: FontAwesome;
        cursor: pointer;
        color: $secondary;
        font-size: 32px;
        float: left;
        position: relative;
        top: 8px;
    }

    input[type='checkbox']:disabled + span {
        color: $light-gray;
        cursor: not-allowed;
    }

    input[type='checkbox'] + span:after {
        content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
    }

    input[type='checkbox']:checked + span:after {
        content: "\f046"; /* fontawesome checked box (fa-check-square-o) */
    }

    textarea {
        width: calc(100% - 40px);
        border: none;
        float: right;
        height: 40px;
        font-size: 32px;
        overflow: hidden;
        overflow-y: hidden;
        word-wrap: break-word;
        resize: none;
        font-family: inherit;
        padding: 0;
        padding-left: 3px;
        padding-right: 3px;

        &:not(:valid) {
            background-color: $very-light-gray;
        }

         &:hover {
            background-color: $very-light-gray;
            
            outline: none;
        }

        &:focus {
            background-color: $very-light-gray;
            
            outline: none;
        }
    }

    .float-clear {
        clear: both;
    }

    &.complete {
         input[type='checkbox'] + span {
            color: $light-gray;
        }

        textarea {
            color: $light-gray;
            font-style: italic;
            text-decoration: line-through;
            border: none;    
            background-color: $pure-white;
        }
    }
}

.todo-item:hover ~ .fa.fa-close.todo-delete, .fa.fa-close.todo-delete:hover,
.todo-item:hover ~ .order-icons, .order-icons:hover,
.todo-item:hover ~ .order-icons, .order-icons:hover {
    opacity: 1;
}

.order-icons {
    float: left;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: visible;
    position: relative;
    left: -25px;
    top: -70px;

    .fa.fa-caret-up, .fa.fa-caret-down {
        font-size: 32px;
        color: $very-light-gray;  
        transition: opacity 0.25s ease;

        &:hover {
            cursor: pointer;
            color: $light-gray;
        }
    }
}

.fa.fa-close.todo-delete {
    opacity: 0;
    float: right;
    position: relative;
    font-size: 32px;
    top: -53px;
    right: -8px;
    width: 0;
    overflow: visible;
    color: $very-light-gray;
    
    transition: opacity 0.25s ease;

    &:hover {
        cursor: pointer;
        color: $light-gray;
    }
}